# Python
backend/.venv/
__pycache__/
*.pyc


# Node
frontend/node_modules/
.next/


# Env
*.env
*.env.local
.env*


# OS
.DS_Store
Thumbs.db

# Credentials
backend\credentials.jsonbackend/credentials.json
token.pickle
.env
.env.*
*.pem
*.p12
*.pickle
